@font-face {
  font-family: 'Retro Gaming';
  src: url('../../public/fonts/Retro\ Gaming.ttf') format('truetype');
}

* {
  font-family: 'OpenType', sans-serif;
}

header {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  background-image: url("../../public/images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 200px;
  width: 100%;
}

h1 {
  color: black;
  font-family: 'Retro Gaming';
  font-size: 58px;
}

.page-subtitle {
  margin-top: -30px;

  font-family: 'Retro Gaming';
  font-size: 24px;
}

.search-section {
  background-color: #F7E4FA;
  background-image: url("../../public/images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  align-items: center;
  place-items: center;

  margin-top: 10px;
  
  height: 60px;
  width: 100%;
}

.input-field {
  font-size: 16px;

  margin-right: 15px;

  box-shadow: 0 2.5px 5px #642C8F;
  border-radius: 5px;
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;

  height: 30px;
  width: 350px;
}

.input-field:hover {
  box-shadow: 0 2.5px 5px darkgray;
  background-color: lightgray;
}

button {
  text-align: center;
  font-size: 16px;

  background-color: #F9E2FC;
  box-shadow: 0 2.5px 5px #642C8F;
  border-radius: 5px;
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;

  height: 30px;
  width: 75px;
}

button:hover {
  background-color: lightgray;
  box-shadow: 0 2.5px 5px darkgray;
}

.data-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  background-color: #FDF3FB;
}

.details-container {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
  position: relative;
  margin:15px;
}

#saga-container {
  display: grid;
}

.saga-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.game-container {
  display: grid;
}

h2 {
  text-align: center;
}

.saga-logo {
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 100%;
}