@font-face {
  font-family: 'Retro Gaming';
  src: url('../../public/fonts/Retro\ Gaming.ttf') format('truetype');
}

header {
  display: grid;
  align-items: center;
  place-items: center;
  background-image: url("../../public/images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 200px;
  width: 100%;
}

h1 {
  color: black;
  font-family: 'Retro Gaming';
  font-size: 60px;
}

.page-subtitle {
  font-family: 'Retro Gaming';
}

