.game-details {
    display: grid;
}

.game-logo {
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 100%;
}

.flag {
    align-self: center;
    justify-self: center;
    width: 25px;
    height: 15px;
    margin-left: 7.5px;
}