.game-details {
    display: grid;
}

.game-logo {
    max-height: 200px;
    margin: 0 auto;
}

.flag {
    align-self: center;
    justify-self: center;
    width: 25px;
    height: 15px;
    margin-left: 7.5px;
}